html, body {
  margin: 0;
  padding: 0;
}

h1 {
  margin-left: 10px
}

.content {
  padding: 10px;
}

.nav {
  display: block;
  background-color: red;
  margin-left: 0;
  margin-right: 0;
}

.navLeft {
  display: inline-block;
  background-color: yellow;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.navRight {
  display: inline-block;
  float: right;
  background-color: yellow;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.navLeft .active {
  font-weight: bold;
}

.navRight .active {
  font-weight: bold;
}

