html, body {
  margin: 0;
  padding: 0;
  background-color: #FFFAFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  margin-left: 10px;
}

h3 {
  color: #1E1B18);
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

.content {
  padding: 10px;
}

/**
 * Nav Component
 */

.nav {
  display: block;
  background-color: #FFEA51;
  margin-left: 0;
  margin-right: 0;
  color: rgb(22, 31, 26);
}

#title {
  text-shadow: .75px .75px 2px #1E1B18;
  /*color: #1E1B18;*/
  display: inline-block;
  color: #FDFFFC;
}

.navLeft {
  display: inline-block;
/*  background-color: #FDFFFC;*/
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  /*border-radius: 5px;*/
}

.navLeft:hover {
  text-decoration: underline;
}

.navLeft .active {
  font-weight: bold;
}

.navRight {
  display: inline-block;
  float: right;
  vertical-align: bottom;
}

.navRight .active {
  font-weight: bold;
}

.childRight {
  display: inline-block;
  float: right;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.childRight:hover {
  text-decoration: underline;
}



/**
 * SNIPPET COMPONENT
 */




.snippet {
  display: block;
  background-color: #3E92CC;
  margin-bottom: 20px;
  padding-left: 10px;
  border-radius: 10px;
  margin-right: 100px;
}

.snippet:hover {
  box-shadow: 2px 2px #1E1B18;
}

.snippet-name {
  display: inline-block;
}

.snippet-rating {
  display: inline-block;
  padding-left: 30px;
}

.snippet-description {
  display: block;
  padding-bottom: 10px
}

.step {
  display: block;
  background-color: #00B1D8;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-right: 100px;
}

.step:hover {
  box-shadow: 2px 2px #1E1B18;
}

.create-step {
  border-width: 2px;
  border-radius: 10px;
  margin: 5px;
  margin-top: 20px;
  margin-right: 100px;
  padding: 10px;
  background-color: #2EC4B6;
}

.courseSnippet {
  border-radius: 25px;
  border: 2px solid #E71D36;
  padding-left: 10px;
  padding-right: 10px;
  width: 800px;
  height: 120px;
  position: relative;
}

.courseName {
  display: inline-block;
  float: left;
}

.rating {
  display: inline-block;
  float: right;
}

.description {
  position: absolute;

  bottom: 0;
}

.search{
  display: inline-block;
  margin-bottom: 20px;
}

.searchButton{
  margin-bottom: 20px;
}

#delete {
  float:right;
}

#createDescription {
  display: block;
  width: 80%;
  height: 60px;
}

#createName {
  display: block;
}



.stepText {
  width: 80%;
  height: 30px;
}

.commentInput {
  width: 75%;
  height: 50px;
  display: block;
}

.commentWrite {
  margin-bottom: 20px;
}

.commentHeader {
  text-decoration: underline;
}

.comment {
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color: #FDFFFC;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-right: 100px;
  background-color: #FFEA51;
}

.discussionboard {
  margin-top: 40px;
}

.click {
  font-size: 12px;
  margin-top: 40px;
}

input[type="text"] {
  display: block;
  border-radius: 5px;
  margin: 5px;
  padding-top:0;
  min-height: 20px;
  border-width: 1px;
  border-color: #333333;
  border-style: solid;
}

input[type="password"] {
  border-radius: 5px;
  margin: 5px;
  padding-top:0;
  display: block;
  min-height: 20px;
}

textarea {
  border-radius: 5px;
  margin: 5px;
  padding-top:0;
  display: block;
  min-height: 40px;
}

#course-name {
  display: block;
}

#course-rating {
  display: inline-block;

}

#course-enroll {
  display: inline-block;
  margin-left: 25px;
  vertical-align: 30%;
}

button {
  min-width: 60px;
  min-height: 20px;
}

