@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/*
GENERAL STYLING
 */

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFFAFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h3 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  color: #1E1B18;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

input[type="text"] {
  display: block;
  border-radius: 5px;
  padding-top:0;
  margin-top: 10px;
  min-height: 20px;
  border-width: 1px;
  border-color: #333333;
  border-style: solid;
  padding-left: 5px;
}

input[type="password"] {
  border-radius: 5px;
  padding-top:0;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 20px;
  border-width: 1px;
  border-color: #333333;
  border-style: solid;
  padding-left: 5px;
}

textarea {
  border-radius: 5px;
  margin-top: 10px;
  padding-top: 5px;
  display: block;
  min-height: 40px;
}

.content {
  padding: 10px;
}

/**
 * NAV COMPONENT
 */

.nav {
  background-color: #3E92CC;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 80px;
}

.nav > div {
  display: flex;
  align-items: center;
}

.navRight {
  justify-content: flex-end;
}

.nav > div > a {
  margin: 10px;
  padding: 20px;
  text-decoration: underline;
  cursor: pointer;
}

#title {
  text-shadow: .75px .75px 2px #1E1B18;
  color: #FDFFFC;
}

/**
 * SNIPPET COMPONENT
 */

.snippet {
  display: block;
  background-color: #3E92CC;
  margin-bottom: 20px;
  padding-left: 10px;
  border-radius: 10px;
  margin-right: 100px;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(22, 31, 26);
}

.snippet:hover {
  box-shadow: 1px 1px #1E1B18;
  cursor: pointer;
}

.snippet-name {
  display: inline-block;
}

.snippet-rating {
  display: inline-block;
  padding-left: 30px;
}

.snippet-description {
  display: block;
  padding-bottom: 10px
}

.progress {
  float:right;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 14px;
  background-color: #FFFAFF;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.progress p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 2px;

}

/*
STEPS COMPONENT
 */

.step {
  display: block;
  background-color: #00B1D8;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  border-style: solid;
  border-radius: 10px;
  border-color: #1E1B18;
  border-width: 1px;
}

.step:hover {
  box-shadow: 2px 2px #1E1B18;
}

.step:hover .click {
  text-decoration: underline;
}

.step-description {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  background-color: #FFFAFF;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
}

.step-name {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #FFEA51;
  border-width: 0;
  max-width: 40%;
  padding-left: 10px;
}

.step-screenshot {
  display: block;
  margin: auto;
  margin-bottom: 2px;
  border-color: #1E1B18;
  border-width: 5px;
  border-radius: 5px;
  border-style: solid;
  /* width: 320px;
  height: 179px; */
}

.screenshot-desc {
  margin-top: 0px;
  font-size: 12px;
  text-align: center;
}

.ytplayer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 0;
}

.click {
  font-size: 12px;
  margin-top: 40px;
  text-align: center;
}



/*
CREATE COMPONENT
 */

.create-page h3 {
  margin-top: 10px;
  margin-left: 5px;
}

.create {
  background-color: #2EC4B6;
  /* color: #FFFAFF; */
  margin: auto;
  margin-top: 20px;
  padding: 30px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #1E1B18;
  border-style: solid;
}

.create-step {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #1E1B18;
  margin-top: 20px;
  margin-right: 100px;
  padding: 10px;
  padding-top: 0;
  background-color: #FFFAFF;
  color: rgb(22, 31, 26);
}

#createDescription {
  display: block;
  width: 80%;
  height: 60px;
}

#createName {
  display: block;
  margin-bottom: 10px;
  width: 200px;

}

.create h3 {
  margin-bottom: 15px;
  margin-top: 10px;
  text-shadow: .75px .75px 2px #1E1B18;
}

.create label {
  color: #1E1B18;
}

.create button {
  margin-top: 10px;
}

.create textarea {
  width: 75%;
}

.create input[type="text"] {
  min-width: 200px;
}

.create select{
  min-width: 200px;
  min-height: 30px;
}

#delete {
  float:right;
}

.create .form-element {
  padding: 5px;
  margin-bottom: 10px;
}

/*
COURSE VIEW COMPONENT
 */

.courseName {
  display: inline-block;
  float: left;
}

.rating {
  display: inline-block;
  float: right;
}

.description {
  position: absolute;
  bottom: 0;
}

.search{
  display: inline-block;
  margin-bottom: 20px;
}

.searchButton{
  margin-bottom: 20px;
}

.checkbox {
  float:left;
  margin-right: 10px;
}

/*
COMMENT COMPONENTS
 */

.commentInput {
  width: 75%;
  height: 50px;
  display: block;
}

.commentWrite {
  margin-bottom: 20px;
}

.commentHeader {
  text-decoration: underline;
}

.comment {
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color: #FDFFFC;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-right: 100px;
  background-color: #FFEA51;
}

.discussionboard {
  margin-top: 40px;
}

/*
COURSE COMPONENT
 */

#course-name {
  display: block;
}

#course-rating {
  display: inline-block;
}

#course-enroll {
  display: inline-block;
  margin-left: 100px;
  vertical-align: 20%;
}

#count {
  display: inline-block;
  margin-left: 10px;

}

#stars {
  display: inline-block;
}

#enroll-button {
  float: right;
  background-color:
}

/*
LOGIN COMPONENT
 */

.login {
  background-color: #00B1D8;
  color: #FFFAFF;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  text-shadow: .75px .75px 2px #1E1B18;
  border-width: 1px;
  border-color: #1E1B18;
  border-style: solid;
}

/*
SIGNUP COMPONENT
 */

.signup {
  background-color: #3E92CC;
  color: #FFFAFF;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  text-shadow: .75px .75px 2px #1E1B18;
  border-width: 1px;
  border-color: #1E1B18;
  border-style: solid;
}
/*
BROWSE COMPONENT
 */

.search {
  margin-left: 10px;
}

/*
DASHBOARD COMPONENT
 */
.dashboard h3 {
  margin-bottom: 20px;
  margin-top: 10px;
}

.no-course {
  margin:auto;
  margin-top: 100px;
  background-color: #FD7377;
  height: 100px;
  width: 400px;
  padding-top: 30px;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(22, 31, 26);
  text-align: center;
}

.no-course:hover {
  box-shadow: 2px 2px #1E1B18;
  cursor: pointer;
}

.no-course p {
  line-height: 30px;
}


/*
ABOUT COMPONENT
 */
.about {
  text-align: center;
  margin-top: 50px;
}
.about-a {
  color: #3E92CC;
  height: 100px;
}

.about-b {
  color: #00B1D8;
  height: 100px;
}

.about-c {
  color: #2EC4B6;
  height: 100px;
}

.about h4 {
  color: rgb(22, 31, 26);
  height: 100px;
}

.step-headers {
  padding: 4px 8px;
  align-items: center;
}

/*.about h2 {
  text-shadow: .2px .2px .5px #1E1B18;
}*/

.tag {
  display: inline-block;
  padding: .4em .5em;
  margin: 2px 2px 2px 0;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  color: #39739d;
  background-color: #E1ECF4;
  border-color: transparent;
  cursor: pointer;
}

/* .addTag {
  display: block;
  margin-top: 10px;
}

.tagSelect {
  margin-left: 10px;
} */

.react-tags {
  position: relative;
  padding: 6px 0 0 6px;
  border: 1px solid #D1D1D1;
  border-radius: 1px;
  background-color: #FFFAFF;

  /* shared font styles */
  font-size: 1em;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.react-tags.is-focused {
  border-color: #B1B1B1;
}

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: 6px 8px;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  background: #F1F1F1;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__selected-tag:after {
  content: '\2715';
  color: #AAA;
  margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  border-color: #B1B1B1;
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  padding: 7px 2px;
  margin-bottom: 6px;

  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {

  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }

}

.react-tags__search input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 30em) {

  .react-tags__suggestions {
    width: 240px;
  }

}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}

.icon {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 8px;
  background-color: transparent;
}

.material-icons {
  padding-right: 8px;
}

.browse {
  display: grid;
  grid-template-rows: auto auto;
}

.browse-courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.browse-snippets {
  overflow: auto;
  height: 75vh;
}
